*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Roboto', sans-serif;
}



/* Sekcja home */
#home
{
    background-image: url('../img/home/header-background.jpg');
    background-size: cover;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 200px;
    min-height:670px;
    max-width: 100%;
    max-height:100%;
    margin: 0 auto;
    display: block;
}
.home-page
{
    margin-top: 80px;
    text-align: center;
}
.logo
{
    margin: 20px auto;
    color: #ED7577;
}
.home-text h1
{
    font-size: 50px;
    color: #ED7577;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.home-text p
{
    font-size: 24px;
    font-weight: 300;
    margin: 20px auto;
    color: #575756;
}
nav
{
    background: #fff;
}
 


/* nav */
.nav-bar {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: 24px 0 0;
  line-height: 48px;
}
@media only screen and (min-width: 768px) {
  .nav-bar {
    margin: 4em 0 0;
  }
}

.nav-bar_open nav {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}
@media only screen and (min-width: 1024px) {
  .nav-bar_open nav {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.nav-bar_open .nav-bar__menu-btn {
  -webkit-transform: translate(-176px, 0);
          transform: translate(-176px, 0);
  background-color: rgba(197, 63, 63, 0.9);
  -webkit-transition: background 0.1s linear, -webkit-transform 0.28s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: background 0.1s linear, -webkit-transform 0.28s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: background 0.1s linear, transform 0.28s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: background 0.1s linear, transform 0.28s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.28s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.nav-bar_open .nav-bar__menu-btn span {
  opacity: 0;
}
.nav-bar_open .nav-bar__menu-btn:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 24px;
  margin: 0;
}
.nav-bar_open .nav-bar__menu-btn:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 24px;
  margin: 0;
}

.nav-bar__nav {
  position: fixed;
  z-index: 2;
  left: 100%;
  top: 0;
  height: 100%;
  overflow: hidden;
  background-color: #c53f3f;
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media only screen and (min-width: 1024px) {
  .nav-bar__nav {
    display: inline-block;
    background: none;
    position: static;
    -webkit-transition: none;
    transition: none;
  }
}
.nav-bar__nav ul {
  width: 200px;
  padding: 48px 0 0;
  margin: 0;
  list-style: none;
font-size: 18px;
}
@media only screen and (min-width: 768px) {
  .nav-bar__nav ul {
    width: 248px;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-bar__nav ul {
    display: inline-block;
    width: auto;
    padding: 0;
  }
}
.nav-bar__nav ul li {
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-bar__nav ul li {
    display: inline-block;
  }
}
.nav-bar__nav ul a {
  display: block;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
    color: #575756;
    text-transform: uppercase;
    
}
.nav-bar__nav ul a:hover {
  opacity: .75;
}


.nav-bar__menu-btn {
  position: absolute;
  z-index: 3;
  display: inline-block;
  right: 24px;
  cursor: pointer;
  -webkit-transition: background 0.1s 0.1s linear, -webkit-transform 0.28s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: background 0.1s 0.1s linear, -webkit-transform 0.28s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: background 0.1s 0.1s linear, transform 0.28s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: background 0.1s 0.1s linear, transform 0.28s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.28s cubic-bezier(0.4, 0.2, 0.2, 1);
    background: #000;
}
@media only screen and (min-width: 768px) {
  .nav-bar__menu-btn {
    right: 72px;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-bar__menu-btn {
    display: none;
  }
}
.nav-bar__menu-btn:before, .nav-bar__menu-btn:after,
.nav-bar__menu-btn span {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  height: 3px;
  width: 20px;
  -webkit-transform: translate(-50%, -50%) translateZ(0);
          transform: translate(-50%, -50%) translateZ(0);
  content: '';
}
.nav-bar__menu-btn:before {
  margin-top: -7px;
}
.nav-bar__menu-btn:after {
  margin-top: 7px;
}

nav {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: .9em;
}

nav a {
  display: inline-block;
  padding: 0 1.25em;
  text-decoration: none;
  color: #ffffff;
}

button {
  display: inline-block;
  vertical-align: center;
  width: 48px;
  height: 48px;
  border: none;
  background: none;
}





/* Sekcja Services */
#page-services
{
    margin: 60px auto;
}
.row-0
{
    display: flex;
    justify-content: center;
}
.title-1
{
    text-align: center;
    margin: 20px auto 40px;
}
.title-1 h4
{
    color: #88c1ba;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.title-1 p
{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 300;
    color: #575756;
}
.row-1
{
    display: flex;
    justify-content: center;
}
.serv-col
{
    flex: 1;
    margin: 10px 15px;
}
.serv-col img
{
    width: 100%;
    border-bottom: 3px solid black;
}
.serv-1 h3
{
    text-align: center;
    color: #ED7577;
}
.serv-1 p
{
    text-align: center;
    color: #575756;
    font-size: 16px;
    letter-spacing: 1px;
}



/* Sekcja sign */
#sign
{
    background: #ED7577;
}
.sign-text
{
    margin: 70px 10px;
}
.email-btn
{
    margin: 70px 10px;
}
.symb-text
{
    padding-left: 40px;
}
.symb-text h5
{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.symb-text p
{
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.email-btn .news-mail
{
    height: 60px;
    width: 400px;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: none;
    padding-left: 30px;
    border: 1px solid #e5e9ec;
    background-color: #fff;
}
.email-btn .btn
{
    height: 60px;
    width: 120px;
    margin-left: 5px;
    font-size: 18px;
    box-shadow: none;
    background: #BF977E;
    border: 1px solid #e5e9ec;
    border-radius: 30px; 
    color: #fff;
    font-weight: 700;
}
.email-btn .btn:hover
{
    background: #ED7577;
}


/* Sekcja wellness */
#about-well
{
    margin: 100px auto;
}
.row-2
{
    display: flex;
    justify-content: content;
}
.well-img, .well-text
{
    flex: 1;
}
.well-text h3
{
    font-size: 30px;
    font-weight: 300;
    line-height: 150%;
    color: #575756;
    margin-bottom: 30px;
}
.well-text p
{
    color: #575756;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
}



/* Sekcja gallery */
#gallery
{
    margin: 30px auto 60px;
}



/* Sekcja paral */
#self-paral
{
   background-image: url('../img/self/paral.jpg'); 
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 120px auto;
}
.row-9
{
    display: flex;
    justify-content: center;
}
.self-left, .self-right
{
    flex: 1;
    justify-content: center;
}
.self-left h2
{
    font-size: 44px;
    margin: 90px auto 30px;
}
.self-left h5
{
    color: #ed7577;
    font-size: 24px;
    margin-bottom: 30px;
}
.self-left .self-text
{
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 30px;
}
.self-text-1
{
    font-size: 18px;
}
.self-right img
{
    margin-left: 80px;
}


/* Sekcja brand */
#brands
{
    margin-top: 50px;
    margin-bottom: 90px;
}
.brand-title
{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 55px;
    margin-top: 70px;
    color: #575756;
}
.brand-row
{
    display: inline-block;
     margin: 20px 39px;
}




/* Sekcja team */
#team
{
    
}
.team-title p
{
    font-size: 48px;
    padding: 0;
    margin: 0 0 80px 0;
    font-weight: 300;
    line-height: 1.2;
    color: #575756;
    text-align: center;
}
.row-4
{
    display: flex;
    justify-content: center;
    align-content: center;
}
.team-one
{
    margin: 20px; 
}
.team-one img
{
  
}
.team-text h3
{
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 15px;
}
.team-text h5
{
    color: #ED75A1;
    font-size: 20px;
}
.team-text p
{
    font-size: 16px;
    letter-spacing: 1px;
}



/* Sekcja special offer */
#special-offer
{
    background: #ed7577;
    margin: 40px auto;
}
.row-5
{
    display: flex;
    flex-direction: column;
}
.special-text
{
    color: #fff;
    text-align: center; 
}
.special-text h5
{
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 60px;  
}
.special-text p
{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1px;
}
.special-btn
{ 
    text-align: center;
    margin: 20px auto 70px;
}
.special-btn .special-btn-1
{
    color: #ed7577;
    background: #fff;
    width: 400px;
    height: 60px;
    margin: 10px auto;
    font-size: 20px;
    box-shadow: none;
    text-transform: uppercase;
    padding: 15px 23px 13px 23px;
    border: none;
    font-weight: bold;
}
.special-btn .special-btn-1:hover
{
    border: 1px solid #fff;
    background: #ed7577;
    color: #fff;
    transition: 1s linear;
}



/* Sekcja Conctact us */
.row-7
{
    margin: 30px auto 60px;
}
.contact-title
{
    font-size: 48px;
    display: flex;
    justify-content: flex-start;
    line-height: 1.2;
    letter-spacing: 1px;
}
.cont-left, .cont-right
{
    display: flex;
    margin-bottom: 80px;
}
.cont-text
{
    font-size: 18px;
    line-height: 1.6;
    padding-left: 40px;
    font-weight: 300;
    padding-top: 10px;
}
.cont-icon
{
    width: 88px;
    height: 88px;
}
.cont-icon .glyphicon
{
    color: #ed7577;
    font-size: 46px;
    text-align: center; 
    position: relative;
    top: 10px;
    left: 30px;
}



/* Sekcja kontaktowa */
#form-cont
{
    margin: 40px auto;
}
.row-6
{
    display: flex;
    justify-content: center;
}
.form-con-left, .form-con-right
{
    flex: 1;
}
.form-con-left img
{
    
}
.form-cont-right
{
    padding-left: 30px;
}
.first-name, .email, .massage
{
    display: flex;
    flex-direction: column;
}
.form-cont-right input
{
    height: 50px;
    width: 500px;
    background: #E5E9EC;
    padding-left: 20px;
    border: none;
}
.form-cont-right label
{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-cont-right textarea
{
    height: 150px;
    background: #E5E9EC;
    padding-left: 20px;
    padding-top: 15px;
    border: none;  
}
.form-cont-right .btn-cont-1
{
    height: 60px;
    width: 250px;
    margin: 20px 0;
    color: #fff;
    background: #ed7577;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    border: none;
}



/* Sekcja offer spa */
#offer-spa
{
    margin: 100px auto;
}
.col-1
{
    padding-left: 0;
    padding-right: 0;
}
.spa-row
{
    border: 0.5px solid #E3E3E3;
    text-align: center;
}
.spa-row .spa-title
{
    padding-top: 30px;
    font-size: 30px;
    font-weight: 600;
    height: 125px;
    background: #ED7577;
    color: #fff;
}
.spa-row .spa-price
{
    font-size: 34px;
    font-weight: 500;
    padding-top: 20px;
    background-color: #fbe3e4;
    color: #ed7577;
    padding-bottom: 20px;
}
.spa-row .spa-text
{
    padding-top: 20px;
    line-height: 40px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    background: #F7F7F7;
    color: #333333;
}
.spa-row .spa-btn
{
    background: #F7F7F7;
}
.spa-btn .spa-btn-1
{
    border: none;
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    background: #ed7577;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}
.spa-btn .spa-btn-1:hover
{
    background: #FBE3E4;
    color: #ed7577;
    border: 1px solid #ed7577;
}



/* Sekcja footer*/
#ft
{
    background:  #E5E9EC;
    margin: 40px auto auto;
}
.ft-1
{
    margin-bottom: 10px;
}